body{
    font-family: 'Open Sans';
}
.menu{
    background-color: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    color: #FFFFFF;
    height: 60px;
}
.name{
    position: absolute;
    width: 30%;
    height: 48px;
    left: 348.03px;
    margin-top: 10px; 
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}
.menu-items{
    display: flex;
    position: absolute;
    width: 70%;
    height: 45px;
    margin-left: 50%;
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;

}
.menu-item{
    margin-right: 30px;
}